{% extends 'base.html.twig' %}

{% block title %}New Measurement{% endblock %}

{% block body %}
    <main class="container py-4">
        <h1>New Measurement</h1>
        {{ include('measurement/_form.html.twig', {button_label: 'Create'}) }}
        <a class="btn btn-link px-0" href="{{ path('app_measurement_index') }}">back to list</a>
    </main>
{% endblock %}
